.mx_DonationMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .mx_currencyDropdown{
        margin-bottom: 16px;
    }

    .warning{
        margin-top: 0;
    }
}