.mx_SocialMediaChoice{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 18px;

    button{
        padding: 18px;
    }
}